USE [master]
GO
/****** Object:  User [##MS_PolicyEventProcessingLogin##]    Script Date: 25/10/2025 00:48:10 ******/
CREATE USER [##MS_PolicyEventProcessingLogin##] FOR LOGIN [##MS_PolicyEventProcessingLogin##] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [##MS_AgentSigningCertificate##]    Script Date: 25/10/2025 00:48:10 ******/
CREATE USER [##MS_AgentSigningCertificate##] FOR LOGIN [##MS_AgentSigningCertificate##]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 25/10/2025 00:48:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_Id] [varchar](50) NULL,
	[DOB] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[city_code] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_CUSTOMER]    Script Date: 25/10/2025 00:48:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CUSTOMER](
	[IDCustomer] [int] IDENTITY(10001,1) NOT NULL,
	[Customer_Name] [varchar](30) NULL,
	[Email] [varchar](40) NULL,
	[Phone] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_DATE]    Script Date: 25/10/2025 00:48:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_DATE](
	[DATE] [date] NOT NULL,
	[YEAR]  AS (datepart(year,[DATE])),
	[QUARTER]  AS (datepart(quarter,[DATE])),
	[MONTH]  AS (datepart(month,[DATE])),
PRIMARY KEY CLUSTERED 
(
	[DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_LOCATION]    Script Date: 25/10/2025 00:48:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_LOCATION](
	[IDLocation] [int] IDENTITY(2001,1) NOT NULL,
	[ZipCode] [int] NULL,
	[Country] [varchar](20) NULL,
	[State] [varchar](20) NULL,
	[City] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLocation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_MANUFACTURER]    Script Date: 25/10/2025 00:48:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_MANUFACTURER](
	[IDManufacturer] [int] IDENTITY(11,1) NOT NULL,
	[Manufacturer_Name] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDManufacturer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_MODEL]    Script Date: 25/10/2025 00:48:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_MODEL](
	[IDModel] [int] IDENTITY(101,1) NOT NULL,
	[Model_Name] [varchar](20) NULL,
	[Unit_price] [money] NULL,
	[IDManufacturer] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDModel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACT_TRANSACTIONS]    Script Date: 25/10/2025 00:48:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_TRANSACTIONS](
	[IDModel] [int] NULL,
	[IDCustomer] [int] NULL,
	[IDLocation] [int] NULL,
	[Date] [date] NULL,
	[TotalPrice] [money] NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prod_cat_info]    Script Date: 25/10/2025 00:48:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prod_cat_info](
	[prod_cat_code] [varchar](50) NULL,
	[prod_cat] [varchar](50) NULL,
	[prod_sub_cat_code] [varchar](50) NULL,
	[prod_subcat] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 25/10/2025 00:48:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[transaction_id] [varchar](50) NULL,
	[cust_id] [varchar](50) NULL,
	[tran_date] [varchar](50) NULL,
	[prod_subcat_code] [varchar](50) NULL,
	[prod_cat_code] [varchar](50) NULL,
	[Qty] [varchar](50) NULL,
	[Rate] [varchar](50) NULL,
	[Tax] [varchar](50) NULL,
	[total_amt] [varchar](50) NULL,
	[Store_type] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIM_MODEL]  WITH CHECK ADD FOREIGN KEY([IDManufacturer])
REFERENCES [dbo].[DIM_MANUFACTURER] ([IDManufacturer])
GO
ALTER TABLE [dbo].[FACT_TRANSACTIONS]  WITH CHECK ADD FOREIGN KEY([IDCustomer])
REFERENCES [dbo].[DIM_CUSTOMER] ([IDCustomer])
GO
ALTER TABLE [dbo].[FACT_TRANSACTIONS]  WITH CHECK ADD FOREIGN KEY([IDLocation])
REFERENCES [dbo].[DIM_LOCATION] ([IDLocation])
GO
ALTER TABLE [dbo].[FACT_TRANSACTIONS]  WITH CHECK ADD FOREIGN KEY([IDModel])
REFERENCES [dbo].[DIM_MODEL] ([IDModel])
GO
ALTER TABLE [dbo].[FACT_TRANSACTIONS]  WITH CHECK ADD FOREIGN KEY([Date])
REFERENCES [dbo].[DIM_DATE] ([DATE])
GO
